

/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 100%;
}

.rect{
      background-color: red;
      width: 500px;
      height: 500px;
}

.itemList{
    height: 105%;
}

.pad-all{
    padding: 10px;
}






